@page "/"

@using FluentValidation;
@using Data;
@using System.Globalization;

<h1>Input date bug on Firefox</h1>

<EditForm Model=@person>

    <FluentValidator Validator="Validator"></FluentValidator>

    <div class="form-group">
        <label for="PersonName">Name</label>
        <InputText id="PersonName" class="form-control" @bind-Value="person.PersonName"></InputText>
        <ValidationMessage For="() => person.PersonName"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="Birthdate">Age</label>
        <InputDate class="form-control" id="Birthdate" @bind-Value="person.PersonBirthDate" @bind-Value:format="yyyy/MM/dd" required />
        <ValidationMessage For="() => person.PersonBirthDate" @Required="true" />
    </div>
    <div class="form-group">
        <ValidationSummary></ValidationSummary>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>
</EditForm>



@code{

    PersonValidator Validator = new PersonValidator();

    BlazorApp1.Data.Person person = new Data.Person();

    protected override void OnInitialized()
    {
        var culture = CultureInfo.InvariantCulture; //new CultureInfo("en");
        CultureInfo.DefaultThreadCurrentCulture = culture;
        CultureInfo.DefaultThreadCurrentUICulture = culture;

        person.PersonBirthDate = new DateTime(2020, 1, 1);
    }


}